<nav class="navbar" *ngIf="!isAuthPage">
  <a class="navbar-brand" [routerLink]="['/']">LifeyLife</a>
  <div class="nav-links">
    <app-language-selector></app-language-selector>
    <ng-container *ngIf="isLoggedIn">
      <a class="nav-link" [routerLink]="['/random-dare']" routerLinkActive="active">{{ 'nav.randomDare' | translate }}</a>
      <a class="nav-link" [routerLink]="['/random-dare-history']" routerLinkActive="active">{{ 'nav.history' | translate }}</a>
      <a class="nav-link" (click)="logout()" style="cursor: pointer;">{{ 'nav.logout' | translate }}</a>
    </ng-container>
    <ng-container *ngIf="!isLoggedIn">
      <a class="nav-link" (click)="navigateToLogin()" style="cursor: pointer;">{{ 'nav.login' | translate }}</a>
      <a class="nav-link" (click)="navigateToRegister()" style="cursor: pointer;">{{ 'nav.register' | translate }}</a>
    </ng-container>
  </div>
</nav>