<h1 id="tableLabel">Your last dares</h1>

<p *ngIf="!randomDareHistories"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="randomDareHistories">
  <thead>
    <tr>
      <th>UserUUid</th>
      <th>DareUuid</th>
      <th>Completed</th>
      <th>Given Time</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let randomDareHistory of randomDareHistories">
      <td>{{ randomDareHistory.userUuid }}</td>
      <td>{{ randomDareHistory.randomDareUuid }}</td>
      <td>{{ randomDareHistory.completed }}</td>
      <td>{{ randomDareHistory.receivedAtUnixUtcTimestamp }}</td>
    </tr>
  </tbody>
</table>
