html, body {
  height: 100%;
  background-color: #121212;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 900;
; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body, .body {
  font-size: 100%;
  font-weight: bold;
  color: white;
}

.example-card {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: #0f0f0f;
  color: white;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px 5px 3px rgb(255 255 255 / 20%)
}

.header {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
  content: '';
  left: 3px;
  display: inline-block;
  width: 0;
  height: 0;
  border: solid 5px transparent;
  margin: 4px 4px 2px 4px;
  background: transparent;
}

a.asc:after {
  border-bottom: solid 7px #212529;
  border-top-width: 0;
}

a.desc:after {
  border-top: solid 7px #212529;
  border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
  white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
  min-width: 50px;
}

.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}

.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
  padding-top: 7px;
  color: rgba(255, 255, 255, 0.5);
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
  outline: none;
}

main > .container {padding-top: 15px !important;}
.padding25 {padding: 25px 0}
.padding50 {padding: 50px 0}
.padding100 {padding: 100px 0}
.margin15 {margin: 15px 0}
.margin50 {margin: 50px 0}
.pm0 {padding:0;margin:0;}
.btn-mb {margin-bottom: 20px}
.color-red {color: #EB5757; border-color: #EB5757;}
.color-green {color: #3CC752; border-color: #3CC752;}
.color-gray {color: #B2ADAD; border-color: #B2ADAD;}
.color-white {color: #FFFFFF; border-color: #FFFFFF;}
.color-yellow {color: #F2C94C; border-color: #F2C94C;}
.color-input {color: #A6F0F0; border-color: #A6F0F0;}
::placeholder {color: #A6F0F0;}
input, input:active, select {
  text-align: center;
  background-color: black;
  font-size: 24px;
  line-height: 28px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  border: 5px solid;
  box-sizing: border-box;
  border-radius: 20px;
}
.input-interval {margin: 25px 0 15px}
.t-col-user {text-align: left; padding-bottom: 15px}
.t-col-btn {width: 10%; padding: 10px}
table {width: 100%}
table tr {height: 54px;}
table.separate tr {border-bottom: 1px solid #413C3C;}
td {padding-left: 5px}
.menu-btn {
  width: 50%;
  border: 5px solid;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  height: 62px;
  padding: 10px 0;
  Xmargin: 20px 0
}
.add-btn {
  width: 100%;
  border: 5px solid;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 64px;
  line-height: 28px;
  text-align: center;
  height: 62px;
  font-weight: 900;
  padding-bottom: 17px;
}
.wrapper {padding: 10px 15px;}
.text1 {font-family: Roboto, sans-serif; font-weight: 900; font-size: 36px; line-height: 42px;}
.text2 {font-family: Roboto, sans-serif; font-weight: 900; font-size: 24px; line-height: 28px;}
.text3 {font-family: Roboto, sans-serif; font-weight: 900; font-size: 18px; line-height: 21px;}
.text4 {font-family: Roboto, sans-serif; font-weight: 900; font-size: 14px; line-height: 16px;}
.text5 {font-family: Roboto, sans-serif; font-weight: 900; font-size: 13px; line-height: 15px;}
.text64 {font-family: Roboto, sans-serif; font-weight: 900; font-size: 64px; line-height: 75px;}
button {background-color: #0f0f0f; font-size: 24px; line-height: 28px;}
.row {margin-left: 0 !important; margin-right: 0 !important;}
a:hover {text-decoration: none; color: #3CC752;  }
